<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
<meta charset="UTF-8">
<title>TOSales</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    	
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/inicio"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-right"><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</nav>
       
    <div class="container">
    <div class="col-md-12">

      #parse( $template )

    </div>
    </div>
    
        
	<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>