<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
<meta charset="UTF-8">
<title>TOSales</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="container">
				<ul class="nav navbar-nav navbar-right">
				<li class="navbar-right"><a href="#"><span class="glyphicon glyphicon-book"></span> Ajuda</a></li>
			</ul>
		</div>
	</nav>
	<br>
  <div class="container">

      #parse( $template )

    </div>
    
</body>
</html>